---
import { DiccionarioHead } from "../translations/DiccionarioHead";

const { Idioma, Titulo } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/Icono-USMX.ico" />
  <meta name="generator" content={Astro.generator} />
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content={DiccionarioHead.tituloTwitter[Idioma]} />
  <meta
    name="twitter:description"
    content={DiccionarioHead.descripcionTwitter[Idioma]}
  />
  <meta name="twitter:image" content="https://i.imgur.com/IjUTItF.jpeg" />
  <!-- Open Graph (para Facebook, LinkedIn, etc.) -->
  <meta property="og:title" content={DiccionarioHead.ogTitulo[Idioma]} />
  <meta
    property="og:description"
    content={DiccionarioHead.ogDescripcion[Idioma]}
  />
  <meta property="og:image" content="https://i.imgur.com/pSOVGyO.png" />
  <meta property="og:image:alt" content={DiccionarioHead.ogImagenAlt[Idioma]} />
  <meta property="og:site_name" content="USMX" />
  <meta property="og:url" content="https://usmxxpress.com/" />
  <meta property="og:type" content="website" />
  <!-- Tags SEO -->
  <meta name="description" content={DiccionarioHead.seoDescripcion[Idioma]} />
  <meta name="keywords" content={DiccionarioHead.seoPalabrasClave[Idioma]} />
  <title>{Titulo}</title>
  <!-- Tags Hreflang -->
  <link rel="alternate" hreflang="es" href="https://www.usmxxpress.com/es" />
  <link rel="alternate" hreflang="en" href="https://www.usmxxpress.com/en" />
  <link
    rel="alternate"
    hreflang="x-default"
    href="https://www.usmxxpress.com/"
  />
</head>
